<h2>Todo application</h2>

<nav mat-tab-nav-bar [color]="'primary'" [backgroundColor]="'primary'">
  <a
    mat-tab-link
    routerLink="showTodos"
    [active]="activeLink === 1"
    (click)="activeLink = 1"
  >
    Show TODOs</a
  >
  <a
    mat-tab-link
    routerLink="addTodo"
    [active]="activeLink === 2"
    (click)="activeLink = 2"
    >Add TODOs</a
  >
  <a
    mat-tab-link
    routerLink="charts"
    [active]="activeLink === 3"
    (click)="activeLink = 3"
    >Charts Playground</a
  >
</nav>

<router-outlet></router-outlet>
