<h3>Add Todo:</h3>
<div class="add-todo-container">
  <mat-form-field appearance="fill" class="todo-form-control-container">
    <mat-label>Description</mat-label>
    <input matInput placeholder="description" />
  </mat-form-field>

  <mat-checkbox
    class="example-margin"
    [(ngModel)]="checked"
    class="todo-form-control-container"
    >Checked</mat-checkbox
  >

  <button
    mat-raised-button
    color="primary"
    (click)="cancelAddTodo()"
    class="todo-form-control-container"
  >
    Save
  </button>
  <button
    mat-raised-button
    (click)="cancelAddTodo()"
    class="todo-form-control-container"
  >
    Cancel
  </button>
</div>
