<h3>Add Todo:</h3>
<div class="add-todo-container">
  <div class="todo-form-control-container">
    <label for="todo-description">Description</label>
    <input
      id="todo-description"
      type="text"
      value=""
      placeholder="description"
    />
  </div>
  <div class="todo-form-control-container">
    <label for="todo-completed">Completed</label>
    <input id="todo-completed" type="checkbox" value="" />
  </div>

  <div class="todo-form-control-container">
    <button>Save</button>
  </div>

  <div class="todo-form-control-container">
    <button>Cancel</button>
  </div>
</div>
